body {
  background-image: url("../imagenes/fondoinicio.jpg");
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
} 
.menu {
  display: block;
  list-style: none;
  margin-top: 37%;
  margin-left: 18%;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 25px;
  font-family:'Courier New', Courier, monospace;
  font-size: 70px;
}
.logo{
  padding-left: 50px;
  padding: 2%;
}