body {
  background-image: url("../imagenes/fondoinicio.jpg");
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
} 
.menu {
  display: block;
  list-style: none;
  margin-top: 37%;
  margin-left: 17%;
  justify-content: center;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 25px;
  font-family: 'Cambria Rounded';
  font-size: 80px;
}
.logo{
  padding-left: 50px;
  padding: 2%;
}
.footer{
  color: white;
  font-size: 20px;
  font-family: 'Cambria Rounded';
  padding: 1em 0;
  margin-top: auto;
}